@font-face {
    font-family: 'Mosk';
    src: url("font/MoskExtraBold800.ttf") format('truetype');
}

body {
    background-color: black;
    font-family: Mosk;
    color: rgb(255, 222, 0);
}

.pattern {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background: transparent url(images/black-thread-light.png) repeat center center fixed
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.roundTitle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-20%);
    font-size: 140px;
    color: white;
    opacity: 0.8;
    z-index: 10;
    letter-spacing: 20px;
}

.roundNumber {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 450px;
    z-index: 5;
    opacity: 0.8;
}